<ion-view>

	<ion-nav-bar class="care-and-services-bar" align-title="center">
    	<ion-nav-title class="care-and-services-title">
      		About Us
    	</ion-nav-title>
    	<ion-nav-back-button style="color: #ffffff;">
    	</ion-nav-back-button>
  	</ion-nav-bar>  	

	<ion-content class="padding">
		
		<div class="card animated fadeInUp">
		  
		  <div class="item item-text-wrap">

		  	<div style="font-style: italic;">“Simplicity is the ultimate sophistication”<br/>
		  	-Leonardo Da Vinci.</div><br/><br/>

		  	<p style="text-align:justify;">
		    
		  	We have a simple belief, that the every eye is a beautiful gift from God and that the each eye deserves only the best.<br/><br/>
 
Our sincere love for the eye, gives us the reason and motivation to work on delivering a great visual experience through high quality eye care solutions and eye wear products.<br/><br/>
 
With a huge population who either cannot afford a pair of quality glasses or find them expensive, they are indeed deprived of their right to good vision. This is a problem we want to solve with a lot of dedication and responsibility.<br/><br/>
 
For every pair of glasses that we sell, we give one for free through our partner organization, meyeprescription.org<br/><br/>
 
The expertise of our team, the use of technology and high quality equipments is the reason why we are able to dispense 100% genuine, authentic eyewear. Also we design, develop products in house and sell directly to the customer, which allows us to cut costs and make the products affordable.<br/><br/>
 
Along with making good prescription glasses and contact lenses affordable, we also want to make the products simple and beautiful so that you enjoy the experience of buying, wearing your eyewear.<br/><br/>
 
We are simply here to make good eye wear and to make you look good in them. That’s it! 

			</p>

		  </div>
		  <div class="item item-divider">
		    - Make My Lens by Ramroop.
		  </div>
		</div>

	</ion-content>

</ion-view>