<ion-view>

	<ion-nav-bar class="care-and-services-bar" align-title="center">
    	<ion-nav-title class="care-and-services-title">
      		Care & Services
    	</ion-nav-title>
    	<ion-nav-back-button style="color:#ffffff;">
    	</ion-nav-back-button>
  	</ion-nav-bar>  	

	<ion-content class="padding">
		<ion-list>

			<a class="">
				<img class="care-and-service-item" src="img/cs.jpg"/>
			</a>

			<a class="">
				<img class="care-and-service-item" src="img/cs2.jpg"/>
			</a>

		</ion-list>
	<ion-list>

</ion-view>