<ion-view>

<ion-nav-bar class="signup-bar" align-title="center">
    	<ion-nav-title class="signup-title">
      		Sign Up
    	</ion-nav-title>

    	<ion-nav-back-button style="color: #ffffff;">
    </ion-nav-back-button>
  	</ion-nav-bar>

  <ion-content class="padding">

  <ion-list>

  	<div class="list">

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Enter valid email">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Contact</span>
	    <input type="text" placeholder="Enter your contact number">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="Enter password">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Confirm Password</span>
	    <input type="password" placeholder="Re-enter password">
	  </label>
	</div>

	</ion-list>

	<button class="button button-block button-positive">
  		Create Account
	</button>

  </ion-content>
</ion-view>