<ion-view view-title="Eye Glasses">

  <ion-content class="padding">

<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/eyeglasses/eg1.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg2.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg3.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg4.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg5.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg6.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>


        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg7.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>


        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg8.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>


        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg9.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>


        <a class="eg-container" href="#">
          <img class="eg-image" src="img/low/eyeglasses/eg10.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>


    </ion-list>

  </ion-content>
</ion-view>
