<ion-view view-title="Sun Glasses">
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <ion-list>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg1.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg2.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg3.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg4.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg5.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

        <a class="eg-container" href="#/item-details-view">
          <img class="eg-image" src="img/low/sunglasses/sg6.jpg">
          <div class="row">
            <div class="col col-75"><h5 class="eg-heading">John jacobs new york</h5></div>
            <div class="col eg-available-colors">
              <div class="color-box-tiny" style="background-color:red;"></div>
              <div class="color-box-tiny" style="background-color:orange;"></div>
              <div class="color-box-tiny" style="background-color:green;"></div>
            </div>
          </div>
        </a>

    </ion-list>
  </ion-content>
</ion-view>
