/* Empty. Add your own CSS if you like */


/* My FONT */

@font-face{
	font-family: appFont;
	src:url("../fonts/MyriadPro-Regular.otf");
}

/* PRESCRIPTION DETAILS */

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.eye-margin{
	    margin-top: 130%;
}

.prescription-content .row{
	height: 100%;
}

.prescription-content .scroll{
	height: 100%;
}

/* ITEM DETAILS VIEW */

.item-container{
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.eg-available-images-container{
	height: 50px;
}

.item-image{
	width: 100%;
	display: block;
}

.item-available-images{
	line-height: 0px;
	background-color: #666666;
}

.image-box-small{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 7px;
	float: left;
	display: block;
	height: 40px;
}

.star ul{
	float: right;
}

.stars ul li{
	float: left;
	margin-right: 5px;
}


/* CARE AND SERVICES */

.care-and-services-bar{
	background-color: #000000;
}

.care-and-services-title{
	font-family: appFont;
	color: #ffffff;
	text-align: center;
}

.care-and-service-item{
	-webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
	width: 100%;
}


/* EYE GLASSES TAB */

.eg-tab-bar{
	background-color: #000000;
	font-family: appFont;
	color: #ffffff;
}


/* SIGN UP PAGE */

.signup-bar{
	background-color: #000000;
}

.signup-title{
	font-family: appFont;
	color: #ffffff;
	text-align: center;
}

.back-button{
	color: #ffffff;
}


/* LOGIN PAGE */

.login-bar{
	width: 100%;
	background-color: #000000;
}

.login-title{
	font-family: appFont;
	color: #ffffff;
	text-align: center;
}

#logo{
	display: block;
	height: 100px;
	width: 100%;
	margin-bottom: 15px;
	background-image: url("../img/logo3.png");
	background-size: contain; 
	background-repeat: no-repeat;
	background-position: center;
}



/*SINGLE LIST ITEM CSS */

.eg-container{
	-webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
	width: 100%;
	display: block;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
}

.col{
	margin: 0;
	padding: 0;
}

.row{
	margin: 0;
	padding: 0;
}

.col-75{
	margin: 0;
	padding: 0;
}


.eg-container.ng-enter-stagger{
	-webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.eg-image{
	width: 100%;
	display: block;
}

.eg-heading{
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	padding: 2px;
	margin: 0;
	width: 100%;
	height: 30px;
	color: #ffffff;
	background-color: #333333;
	//background: linear-gradient(to right, rgba(80,80,80,1), rgba(255,255,255,0.2));
	line-height: 27px;
	padding-left: 7px;
}

.eg-available-colors{
	line-height: 27px;
	background-color: #666666;
}

.color-box-tiny{
	margin-top: 7px;
	margin-right: 10px;
	float: right;
	display: block;
	height: 15px;
	width: 15px;
	border:solid .5px #cccccc;
}

a{
	text-decoration: none;
}






/* ALL ICONS GOES HERE */

.ic-eye-glasses-on{
	color: #000000;
	background-image: url("../img/ic-eye-glasses.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-eye-glasses-off{
	color: #cccccc;
	background-image: url("../img/ic-eye-glasses.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-sun-glasses-on{
	color: #000000;
	background-image: url("../img/ic-sun-glasses.png");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-sun-glasses-off{
	color: #cccccc;
	background-image: url("../img/ic-sun-glasses.png");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-contact-lense-on{
	color: #000000;
	background-image: url("../img/ic-contact-lense.png");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-contact-lense-off{
	color: #cccccc;
	background-image: url("../img/ic-contact-lense.png");
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-power-sunglasses-on{
	color: #000000;
	background-image: url("../img/ic-power-sunglasses.png");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-power-sunglasses-off{
	position: relative;
	color: #cccccc;
	background-image: url("../img/ic-power-sunglasses.png");
	background-size: 45%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
}

.ic-eye-care-on{
	display: block;
	height: 60px;
	width: 46px;
	color: #fff;
	background-image: url("../img/ic-eye-care.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: left;
}

.ic-eye-care-off{
	color: #cccccc;
	background-image: url("../img/ic-eye-care.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.ic-done{
	display: block;
	height: 60px;
	width: 46px;
	color: #fff;
	background-image: url("../img/done.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: left;
}



